<div class="container">
  <div class="row">
    <div class="col sm-6">
      <form
        action="/adoption-post/create"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="name">Animals' Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            id="name"
            placeholder="Hugo"
            required
          />
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input
            type="text"
            name="age"
            class="form-control"
            id="age"
            placeholder="1"
            required
          />
        </div>
        <div class="form-group">
          <label for="character">Character:</label>
          <input
            type="text"
            name="character"
            class="form-control"
            id="character"
            placeholder="Cheerful"
          />
        </div>
        <div class="form-group">
          <label for="color">Color</label>
          <input
            type="text"
            name="color"
            class="form-control"
            id="color"
            placeholder="Grey"
            required
          />
        </div>
        <div class="form-group">
          <label for="breed">Breed:</label>
          <input
            name="breed"
            type="text"
            class="form-control"
            id="breed"
            placeholder="f.e. Persian, Pug etc. "
            required
          />
        </div>
        <div class="form-group">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="species"
              id="cat"
              value="cat"
            />
            <label class="form-check-label" for="cat">
              Cat
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="species"
              id="dog"
              value="dog"
            />
            <label class="form-check-label" for="dog">
              Dog
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="info">About: </label>
          <textarea
            name="info"
            class="form-control"
            id="info"
            rows="5"
            cols="33"
            placeholder="More Info about the animal"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label>Image:
            <input
              type="file"
              name="animal-img"
              class="form-control-file"
              required
            />
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>