<div class="row">
  <div class="col sm-6">
    <form
      action="/adoption-post/create"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="name">Animals' Name</label>
        <input
          type="text"
          name="name"
          class="form-control"
          id="name"
          placeholder="Hugo"
        />
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input
          type="text"
          name="age"
          class="form-control"
          id="age"
          placeholder="1"
        />
      </div>
      <div class="form-group">
        <label for="color">Color</label>
        <input
          type="text"
          name="color"
          class="form-control"
          id="color"
          placeholder="Grey"
        />
      </div>
      <div class="form-group">
        <label for="breed">Breed:</label>
        <input
          name="breed"
          type="text"
          class="form-control"
          id="breed"
          placeholder="f.e. Persian, Pug etc. "
        />
      </div>
      <div class="form-group">
        <label for="species">Species:</label>
        <input
          name="species"
          type="text"
          class="form-control"
          id="species"
          placeholder="Cat or Dog"
        />
      </div>
      <div class="form-group">
        <label>Image:
          <input type="file" name="animal-img" class="form-control-file" />
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>