<main class="hero-container">
    <div class="text-container">
  <h1 class="hero-title">The <span class="title-highlight">Adoption</span> Project</h1>
  <p class="hero-subtitle">Welcome pet lover.</p>
<div class="btn-container">
  <a href="#adopt" class="btn btn-lg btn-adopt">Adopt</a>
  <a href="/adoption-post/create" class="btn-lg btn btn-create-listing">Create Listing</a>
  </div>
</main>

<div class="features">
<div class="feature-item">
  <img class="feature-img heart-img-features"src="../images/undraw_appreciation_re_p6rl.svg" alt="Heart for pets">
  <p class="feature-text">
  Have a heart! Adopt a pet! Your mental & physical wellbeing will thank you. And so will your pet.
  </p>
</div>
<div class="feature-item">
  <img class="feature-img dog-img"src="../images/doggy_undraw.svg" alt="Meditation img">
  <p class="feature-text">
     Owning a pet leads to more movement and higher levels of Vitamin D. Says Science.
</div>
<div class="feature-item">
  <img class="feature-img"src="../images/undraw_meditation_re_gll0.svg" alt="Christmas with pets">
  <p class="feature-text">
   A pet is more relaxing than daily meditation. Kiss your medidation-apps goodbye.
</div>
  
</div>

<section class="about">

<div id="about" class="about-content">
  <h2 class="about-title">About the Project</h2>
  <p class="about-text"> Lounge in doorway x cat ass trophy and cats woo hell is other people, run as fast as i can into another room for no reason so bite plants. Love to play with owner's hair tie this cat happen now, it was too purr-fect!!! when in doubt, wash yet sit by the fire. Kitten is playing with dead mouse i is not fat, i is fluffy furball roll roll roll get away from me stupid dog for to pet a cat, rub its belly, endure blood and agony, quietly weep, keep rubbing belly. Where is my slave? I'm getting hungry lies down and slap owner's face at 5am until human fills food dish. Litter box is life check cat door for ambush 10 times before coming in claw drapes.</p>
  <div class="btn-container">
  <a href="#" class="btn btn-lg btn-about">Learn More!</a>

  </div>

</div>


</section>
<section class="adopt-sec">
  

  <img class="adoption-svg" src="../images/pet-adoption2.svg" width="300" alt="">
 
<div class="adopt">

<div id="adopt" class="adopt-content">
  <h2 class="adopt-title">Find your feline friend!</h2>

  <div class="img-grid">
  <img class="grid-item" src="../images/anoir-chafik-2_3c4dIFYFU-unsplash.jpg" alt="Foto of pets">
  <img class="grid-item" src="../images/andrew-s-ouo1hbizWwo-unsplash.jpg" alt="Foto of pets">
  <img class="grid-item" src="../images/tran-mau-tri-tam--81lVsfM4gQ-unsplash.jpg" alt="Foto of pets">
  </div>
  <div class="btn-container-adopt">
  <a href="/animals-for-adoption/cats" class="btn btn-md btn-adopt-cats ">Adopt a Cat</a>
  <a href="/animals-for-adoption/dogs" class="btn btn-md btn-adopt-dogs ">Adopt a Dog</a>
  </div>


</di>
</div>
</section>
