<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/nav-buttons.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/animal-list.css" />
  </head>

  <nav class="navbar navbar-expand-lg green-300">
    <a class="nav-logo" href="/"><img src="/images/pet-logo.png" alt=""></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="nav-btns">
      {{#if user}}
      <div class="division">
        <div class="nav-btns">
          <a class="btns nav-link " href="/animals-for-adoption/cats">Cats</a>
          <a class="btns nav-link" href="/animals-for-adoption/dogs">Dogs</a>
          <a class="btns nav-link" href="/adoption-post/create">Create Listing </a>
      </div>
        <div class="nav-btns">
         <p class="user-name">Hello,{{user.name}}</p>
         <a class="login-btn nav-link" href="/profile">Profile</a>
         <a class="signup-btn nav-link" href="/logout">Log out</a>
      </div>
      </div>
      
      {{else}}
      <div class="division">
        <div class="nav-btns">
         <a class="btns nav-link" href="/animals-for-adoption/cats">Cats</a>
          <a class="btns nav-link" href="/animals-for-adoption/dogs">Dogs</a>
          <a class="btnsb nav-link" href="/adoption-post/create">Create Listing </a>
        </div>
        <div class="nav-btns">
          <a class="login-btn nav-link" href="/login">Log in</a>
          <a class="signup-btn nav-link" href="/signup">Sign up</a>
        </div>
      </div>
    </div>
      {{/if}}
      </div>
    </div>
  </nav>
  <body>

    {{{body}}}
  
    <script src="/js/script.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>

</html>