.row-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  background-color: var(--yellow100);
}

.wrapper-border {
  max-width: 55vw;
  box-shadow: var(--yellow500) 0px 0px 0px 5px;
  padding: 3rem 3rem 2rem 3rem;
  margin-bottom: 3rem;
}

.animal-info-container {
  display: flex;
  gap: 2rem;
}

.info-title {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--green700);
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  border-left: 5px solid var(--green300);
}

.info-text {
  font-size: 0.9rem;
  margin-bottom: 0.9rem;
  color: var(--green900);
  padding-left: 0.5rem;
  color: var(--yellow900);
}

h6.info-text {
  margin-bottom: 0.5rem;
}

.img-details-post {
  max-width: 450px;
}

.animal-info-container {
  margin-bottom: 2rem;
}

.btn-favorites {
  margin: 1.7rem 0 0 0;
  padding: 0 0.5rem;
  font-weight: 700;
  color: var(--green700);
}

.green-border {
  border-bottom: 2px solid var(--green300);
  color: var(--green700);
}

.animal-about-title,
.owner-contact-title {
  font-weight: 700;
  color: var(--green700);
  font-size: 1.3rem;
}

.animal-about-text {
  max-width: 45vw;
}

.edit-delete-btn-container {
  max-width: 55vw;
  display: flex;
  margin-top: 3rem;
}

.btn-edit {
  font-size: 1.2rem;
  min-width: 20ch;
  background-color: var(--yellow500);
  color: var(--beige100);
  border: 2px solid var(--yellow500);
}

.btn-delete {
  font-size: 1.2rem;
  min-width: 20ch;
  margin-left: 2rem;
  background-color: transparent;
  color: var(--red300);
  border: 2px solid var(--red300);
  box-sizing: border-box;
}
.btn-delete:hover {
  background-color: var(--red300);
  color: var(--beige100);
  border: 2px solid var(--red300);
}

.owner-contact-container {
  margin-top: 2rem;
}

.owner-contact-text {
  padding: 0;
  margin: 0.2rem;
}

.divider-details {
  border-top: 2px solid var(--yellow500);
  width: 10vw;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .animal-info-container {
    flex-direction: column;
  }
  .wrapper-border {
    max-width: 90vw;
  }
  .img-details-post {
    width: 260px;
    height: 200px;
    object-fit: cover;
  }
  .btn-favorites {
    margin-top: 0.5rem;
  }
  .divider-details {
    width: 15ch;
    border-top: 2px solid var(--green300);
    margin: 0.5rem 0.2rem 0.5rem;
  }
  .green-border {
    border: none;
  }
}
