.row-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.wrapper-border {
  max-width: 55vw;
  box-shadow: var(--green300) 0px 0px 0px 1px;
  padding: 2rem;
  margin-bottom: 4rem;
}

.animal-info-container {
  display: flex;
  gap: 2rem;
}

.info-title {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--green700);
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  border-left: 5px solid var(--green300);
}

.info-text {
  font-size: 0.9rem;
  margin-bottom: 0.9rem;
  color: var(--green900);
  padding-left: 0.5rem;
}

h6.info-text {
  margin-bottom: 0.5rem;
}

.img-details-post {
  max-width: 450px;
}

.animal-info-container {
  margin-bottom: 4rem;
}

.btn-favorites {
  margin: 1.8rem 0 0 0;
  padding: 0 0.5rem;
  font-weight: 700;
  color: var(--green700);
}

.green-border {
  border-bottom: 2px solid var(--green100);
  color: var(--green700);
}

.animal-about-title,
.owner-contact-title {
  font-weight: 700;
  color: var(--green700);
  font-size: 1.3rem;
}

.animal-about-text {
  max-width: 45vw;
}

.edit-delete-btn-container {
  max-width: 55vw;
  /* display: flex;
  justify-content: space-between; */
  margin-top: 2rem;
}

.btn-edit,
.btn-delete {
  min-width: 20ch;
  background-color: var(--yellow500);
  color: var(--beige100);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  border: 2px solid var(--yellow500);
}

.btn-delete {
  background-color: var(--lila500);
  color: var(--beige100);
  font-size: 1.2rem;
  border: 2px solid var(--lila500);
}

.owner-contact-container {
  margin-top: 2rem;
}

.owner-contact-text {
  padding: 0;
  margin: 0.2rem;
}
