main.container {
  min-height: 100vh;
}
.list-header {
  margin: 3rem auto;
  text-align: center;
  font-size: 42px;
  margin-bottom: 3rem;
  color: var(--green700);
}
.list-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.animal-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 300px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.animal-img {
  height: 240px;
  object-fit: cover;
}

.animal-name {
  font-weight: bold;
  padding: 1.2rem 0.4rem;
  font-size: 1.1rem;
  text-align: center;
  color: var(--green700);
}
.animal-name:hover {
  color: var(--green500);
}
* {
  box-sizing: border-box;
}
