/* FORM SYTLING */

.create-listing {
  margin: 4rem 0;
  max-width: 50vw;
}

label {
  color: var(--green700);
  font-size: 1rem;
}

.btn-form-create {
  min-width: 20ch;
  background-color: var(--yellow500);
  color: var(--yellow900);
  margin-right: 2rem;
  font-size: 1.2rem;
  border: 1px solid var(--yellow500);
  margin: 0;
  max-width: 20ch;
}
.form-control:focus,
.btn-form-create:focus {
  border-color: var(--lila300);
  box-shadow: 0 0 0 0.1rem var(--green300);
}
