.page-title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3vh;
  margin-top: 2vh;
}

.error-img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  object-fit: contain;
  height: 70vh;
  padding: 1vh;
  border: 2px solid var(--green500);
}
