.container-profile {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.profile-title {
  color: var(--green700);
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.profile-img {
  width: 200px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 1rem;
}
.profile-text {
  font-size: 1.3rem;
}
.contact-icon {
  margin-right: 1.1rem;
  display: block;
}
.smaller {
  padding: 0 5px;
}
.profile-text {
  display: flex;
  align-items: center;
}

.edit-profile {
  min-width: 20ch;
  background-color: var(--yellow300);
  color: var(--yellow900);
  margin-right: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid var(--yellow300);
  margin: 0;
  max-width: 20ch;
}
.edit-profile:focus {
  border-color: var(--yellow700);
  box-shadow: 0 0 0 0.2rem var(--yellow700);
}
.edit-profile:hover {
  color: var(--beige100);
  background-color: var(--yellow500);
  border: 1px solid var(--yellow500);
}

.animal-grid-title {
  color: var(--beige100);
  text-align: center;
  flex-wrap: wrap;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 2rem;
}
.animal-grid-sec {
  background-color: var(--yellow800);
  padding: 5rem 0;
}
.profile-content {
  max-width: 120ch;
  margin: 0 auto;
}

.animal-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-basis: 33%;
}
.animal-container {
  background-color: var(--beige100);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-basis: 33%;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}
.animal-img-sm {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
.animal-name-sm {
  display: block;
  font-weight: bold;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
  color: var(--yellow900);
}
.animal-name-sm:hover {
  color: var(--yellow800);
}
.animal-content-text {
  padding: 1.5rem 2rem;
}

@media only screen and (max-width: 600px) {
  .profile-img {
    margin-bottom: 1rem;
  }
  .animal-grid {
    flex-direction: column;
  }
  .animal-container {
    margin: 0 1rem;
  }
}
