* {
  box-sizing: border-box;
  color: var(--green900);
}

:root {
  --lila300: #997481;
  --lila500: #6b515a;
  --green100: #c1d6c9;
  --green200: #b6c9bd;
  --green300: #91b59e;
  --green400: #839e8d;
  --green500: #5d7e69;
  --green700: #36493d;
  --green900: #151c17;
  --yellow100: #fcf5e9;
  --yellow200: #f7e7cb;
  --yellow300: #f7dbab;
  --yellow500: #edc683;
  --yellow700: #e3b464;
  --yellow900: #1f1a11;
  --beige100: #fffbf2;
  --beige200: #faf1e1;
  --beige300: #ded5c4;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--beige100);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito", sans-serif;
}

/*////////////////* HERO */

.green-300 {
  background-color: var(--green400);
}

.nav-link {
  color: var(--beige100);
}
.nav-link:hover {
  color: #36493d;
}

.nav-link-border {
  border-left: 1px solid var(--yellow100);
}

.text-container {
  text-align: center;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: linear-gradient(rgba(3, 3, 3, 0.5), rgba(3, 3, 3, 0.5)),
    url("../images/krista-mangulsone-9gz3wfHr65U-unsplash.jpg");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}
.hero-title {
  font-size: 5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: var(--beige200);
}
.hero-subtitle {
  color: var(--beige200);
  font-size: 1.3rem;
}

.btn-container {
  margin-top: 3rem;
}
.btn-adopt {
  min-width: 20ch;
  background-color: var(--yellow500);
  color: var(--yellow900);
  margin-right: 2rem;
  font-size: 1.2rem;
  border: 1px solid var(--yellow500);
}

.btn-create-listing {
  min-width: 20ch;
  background-color: transparent;
  color: var(--yellow100);
  font-size: 1.2rem;
  border: 1px solid var(--yellow500);
}

.btn-adopt:hover,
.btn-create-listing:hover {
  background-color: var(--yellow700);
  color: var(--yellow100);
  border: 1px solid var(--yellow700);
  box-shadow: none;
}

.img-adoption-post {
  width: 500px;
  max-height: 400px;
  object-fit: fill;
}

/* ABOUT SECTION */
.divider-lila {
  border-top: 2px solid var(--lila300);
  width: 10vw;
  margin-top: 6rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: var(--beige100);
}

.about-content {
  background-color: var(--green500);
  padding: 4rem 5rem;
  width: 50vw;
  color: var(--beige100);
  margin: 4rem 0 7rem 0;
}

.about-title,
.adopt-title {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2.2rem;
}
.about-title {
  color: var(--beige200);
}

.about-text {
  line-height: 1.8;
  font-size: 1rem;
  color: var(--beige100);
}

.btn-about {
  max-width: 20ch;
  background-color: transparent;
  color: var(--beige200);
  margin: 0 auto;
  font-size: 1.2rem;
  border: 1px solid var(--beige200);
  display: block;
}
.btn-about:hover {
  background-color: var(--beige200);
  color: var(--green500);
  border: 1px solid var(--beige200);
}

.divider-yellow {
  border-top: 2px solid var(--yellow500);
  width: 10vw;
  padding-bottom: 1rem;
}

/* ADOPT SECTION */

.adopt {
  padding: 2rem 0;
  background-color: var(--green300);
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adopt-content {
  /* background-color: var(--beige100); */
  padding: 3rem;
  max-width: 70vw;
}

.adopt-title {
  font-size: 2.4rem;
  color: var(--beige100);
  font-weight: 700;
  text-align: center;
}
.img-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.grid-item {
  width: 300px;
  object-fit: contain;
}

.btn-container-adopt {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 3rem;
}
.btn-adopt-dogs,
.btn-adopt-cats {
  min-width: 20ch;
  background-color: transparent;
  color: var(--beige100);
  margin-right: 2rem;
  font-size: 1.2rem;
  border: 1px solid var(--beige100);
  margin: 0;
  max-width: 20ch;
}

.btn-adopt-dogs:hover,
.btn-adopt-cats:hover {
  background-color: var(--beige100);
  color: var(--green700);
}
