* {
  box-sizing: border-box;
  color: var(--green900);
}

:root {
  --lila300: #997481;
  --lila500: #6b515a;

  --green200: #b6c9bd;
  --green300: #91b59e;
  --green400: #839e8d;
  --green500: #5d7e69;
  --green700: #36493d;
  -green900: #151c17;
  --yellow100: #fcf5e9;
  --yellow200: #f7e7cb;
  --yellow300: #f7dbab;
  --yellow500: #edc683;
  --yellow700: #e3b464;
  --yellow900: #1f1a11;
  --beige100: #fffbf2;
  --beige200: #faf1e1;
  --beige300: #ded5c4;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--beige100);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito", sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/*////////////////* HERO */

.green-300 {
  background-color: var(--green400);
}

.nav-link {
  color: var(--beige100);
}
.nav-link:hover {
  color: #36493d;
}

.nav-link-border {
  border-left: 1px solid var(--yellow100);
}

.text-container {
  text-align: center;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: linear-gradient(rgba(3, 3, 3, 0.5), rgba(3, 3, 3, 0.5)),
    url("../images/humberto-arellano-N_G2Sqdy9QY-unsplash.jpg");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}
.hero-title {
  font-size: 5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: var(--beige200);
}
.hero-subtitle {
  color: var(--beige200);
  font-size: 1.3rem;
}

.btn-container {
  margin-top: 3rem;
}
.btn-adopt {
  min-width: 20ch;
  background-color: var(--yellow500);
  color: var(--yellow900);
  margin-right: 2rem;
  font-size: 1.2rem;
  border: 1px solid var(--yellow500);
}

.btn-create {
  min-width: 20ch;
  background-color: transparent;
  color: var(--yellow100);
  font-size: 1.2rem;
  border: 1px solid var(--yellow500);
}

.btn-adopt:hover,
.btn-create:hover {
  background-color: var(--yellow700);
  color: var(--yellow100);
  border: 1px solid var(--yellow700);
  box-shadow: none;
}
